<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CinemaManagementProjectEntities" connectionString="metadata=res://*/Model.Service.CinemaManagementModel.csdl|res://*/Model.Service.CinemaManagementModel.ssdl|res://*/Model.Service.CinemaManagementModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-CQPNI3AK;initial catalog=CinemaManagementProject;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>